@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;

}
 
body{
  padding-top: 10vh;
  background-color: yellow;
  padding: 2vh ;
}

h2{
  text-align: center;
  line-height: 100px;
  font-weight: 300;
}

.container {
  color: wheat;
  background-color: rgb(228, 30, 185);


  
  margin: 0 auto;
  min-height: 200px;
  max-width: 400px;

  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;

  padding: 30px;

}

.container p{
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  
}


h1{
  text-align: center;
  line-height: 40px;
  font-weight: 300;
}

@media (max-width: 500px) {
  .container p{
    flex-flow: column;
  }
}

.relogio{

  font-size: 50px;
}

.button{
  font-size: 16px;
  color: aliceblue;
  background-color: rgb(233, 76, 233);


  width: 70px;
  height: 40px;

  border: none;
  border-radius: 4px;
  border: 2px solid yellow;
}

.button:hover {
  background-color: azure;
  color: rgba(201, 16, 201, 0.315);
}